:root {
    --bg-primary-color: #7291CA;
    --bg-header-color: #4D6FAD;
    --bg-banner-button-color: #F0AC03;
    --font-primary-color: #FAFAFA;
}

.banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    padding: 50px 72px 0px 72px;
}

img {
    max-inline-size: 100%;
}

.banner-content {
    display: flex;
    flex-direction: column;
    color: var(--font-primary-color);
    gap: 20px;
}

.banner-text {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
}

.banner-title {
    font-size: 36px;
}

.banner-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--bg-banner-button-color);
    color: var(--font-primary-color);
    border: 0;
    border-radius: 120px;
    width: 150px;
    height: 40px;
}

@media (max-width: 436px) {
    .banner {
        padding: 20px;
    }
}