@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=M+PLUS+Rounded+1c&family=Varela+Round&display=swap');

:root {
    --bg-primary-color: #7291CA;
    --bg-header-color: #4D6FAD;
    --bg-banner-button-color: #F0AC03;
    --bg-banner-button-hover-color: #dfa615;
    --font-primary-color: #FAFAFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 100px 0px;
}

.title {
    font-size: 48px;
}

.animais {
    display: flex;
    max-width: 1200px;
    gap: 100px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.animal {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.animal-foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #000;
}

.animal-nome {
    color: var(--bg-primary-color);
    font-size: 32px;
    font-weight: bolder;
}

.animal-dados {
    display: flex;
    flex-direction: column;
    align-items: center;
}