

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

footer {
    background-color: var(--bg-primary-color);
    width: 100%;
    height: 337px;
}

.dados-banco{
    outline: 1px solid red;
    width: fit-content;
}
