@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


.section_inicio_home{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_informacoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}

.elementos_informacoes{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 220px;
    height: 250px;
}

.elementos_informacoes h1{
    font-weight: 800;
    font-family: "Inter", sans-serif;
    letter-spacing: 1.5px;
    color: #303030;
    padding-top: 10px;
}

@media(max-width:1050px){
    .container_informacoes{
        width: 90%;
    }
}

@media(max-width:750px){
    .container_informacoes{
        flex-direction: column;
        gap: 20px;
    }

    .section_inicio_home{
        height: 850px;
    }
}

.elementos_informacoes img{
    width: 180px;
    height: 180px;
}

.adote_coracao_section{
    width: 100%;
    height: 600px;
    display: flex;
    color: var(--font-primary-color);
    font-family: "Roboto", sans-serif;
    font-weight:100;
}

.left_container_coracao{
    width: 50%;
    height: 100%;
    background-color: #7291CA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_interno_coracao{
    width: 450px;
    padding: 20px;
}

.h2_coracao{
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.h1_coracao{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-size: 3.7rem;
    margin-bottom: 20px;
    margin-top: 5px;
}

.p_coracao{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
}
.botao_coracao{
    background-color: var(--bg-banner-button-color);
    color: var(--font-primary-color);
    border: 0;
    border-radius: 120px;
    width: 220px;
    height: 47px;
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.right_container_coracao{
    width: 50%;
    height: 100%;
    background-image: url(../src/images/bolinha.png);
    background-position: center;
    background-size: cover;
}
.containerBtn{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width:980px){
    .adote_coracao_section{
        flex-direction: column;
        height: fit-content;
    }
    .left_container_coracao{
        width: 100%;
        height: 70%;
    }
    .right_container_coracao{
        display: none;
    }
}

@media(max-width:500px){
    .h2_coracao{
        font-size: 1.7rem;
    }
    .h1_coracao{
        font-size: 3rem;
    }
    .p_coracao{
        font-size: 1rem;
    }
}




.perguntas_frequentes{
    height: fit-content;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    gap: 1rem;
    margin-bottom: 7rem;
    position: relative;
}

/* .patinha{
    width: 150px;
    height: 150px;
    background-image: url("../src/images/patinha.png");
    background-size: cover;
    position: absolute;
}

.patinha:nth-child(1){
    right: 0;
    transform: rotate(20deg);
}
.patinha:nth-child(2){
    right: 0;
    bottom: 0;
    transform: rotate(0deg);
}
.patinha:nth-child(3){
    left: 0;
    transform: rotate(-50deg);
}
.patinha:nth-child(4){
    left: 0;
    bottom: 0;
    transform: rotate(-60deg);
} */

.title_faq{
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 2.7rem;
}

.faq{
    max-width: 1000px;
    border-bottom: 1px solid black;
 }

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 60px;
    padding-left: 20px;
}

.question h3{
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.resposta{
    max-height: 0;
    overflow: hidden;
    transition: all 0.7s ease;
    padding-left: 15px;
}

.resposta p{
    line-height: 1.6;
    font-size: 1rem;
    color: #7D7D7D;
    padding-bottom: 1rem;
}

.faq.active .resposta{
    max-height: 300px;
    transition: all 1s ease;
}

.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.3s ease-in;
}

@media(max-width:585px){
    .title_faq{
        font-size: 2rem;
    }
    .question h3{
        font-size: 1rem;
    }
    .resposta p{
        font-size: 0.8rem;
    }
}

@media(max-width:397px){
    .title_faq{
        font-size: 1.5rem;
    }
    
}

