{% load static i18n %}
{% block content %}
    {% for app in app_list %}
        {% if app.app_label != 'auth' %}
            {% for model in app.models %}
                {% with model_name=model.object_name|lower %}
                    {% if model.admin_url %}
                        <div class="module card-animal">
                            <div class="card-container-left">
                                <a href="{{ model.admin_url }}"{% if model.admin_url in request.path|urlencode %} aria-current="page"{% endif %}>
                                    {{ model.name }}
                                </a>
                                <div class="total-animais">
                                    <div class="total-count">
                                        {{ total_animal }}
                                    </div>
                                    <div class="total-text">
                                        {% if total_animal > 1%}
                                            disponíveis
                                        {% else %}
                                            disponível
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endif %} 
                            <div class="card-container-right">
                                {% if model.add_url %}
                                    <div><a href="{{ model.add_url }}" class="addlink" aria-describedby="{{ app.app_label }}-{{ model_name }}">{% translate 'Add' %}</a></div>
                                {% endif %}
                                {% if model.admin_url and show_changelinks %}
                                    {% if model.view_only %}
                                        <div><a href="{{ model.admin_url }}" class="viewlink" aria-describedby="{{ app.app_label }}-{{ model_name }}">{% translate 'View' %}</a></div>
                                    {% else %}
                                        <div><a href="{{ model.admin_url }}" class="changelink" aria-describedby="{{ app.app_label }}-{{ model_name }}">{% translate 'Change' %}</a></div>
                                    {% endif %}
                                {% endif %}
                            </div>
                    </div>
                {% endwith %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}


