{% load static %}
<footer>
    <div class="container_interno_footer">
        <div class="redes-sociais">
            <a href="https://www.instagram.com/casadocaoegato/"><img src="{% static 'global/src/icons/instagram-icon.png' %}" alt="" class="media-icon"></a>
        </div>
        <div class="dados-banco itau">
            <p>Associação Casa do Cão e Gato</p>
            <p>Banco: Itaú</p>
            <p>Ag: 0059</p>
            <p>C/c: 35413-4</p>
            <p>CNPJ: 019566410001-87</p>
        </div>
        <div class="dados-banco bancobrasil">
            <p>Associação Casa do Cão e Gato</p>
            <p>Banco: Banco do Brasil</p>
            <p>Ag: 2865-7</p>
            <p>C/c: 408283-4</p>
            <p>CNPJ: 019566410001-87</p>
        </div>
        <div class="qr_code">
            <img src="{% static 'global/src/icons/qrcode-pix.png' %}">
        </div>
    </div>
</footer>