{% load static %}
<header>
    <div class="container">
        <div class="logos">
            <img src="{% static 'global/src/icons/logo1.png' %}" alt="Logo 1">
            <img src="{% static 'global/src/icons/logo2.png' %}" alt="Logo 2">
        </div>

        <nav class="links">
            <ol class="links-ancoras">
                <li><a href="{% url 'app:home' %}">Home</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Animais</a></li>
                <li><a href="{% url 'app:adotar' %}">Adote</a></li>
                <li><a href="#">Como ajudar?</a></li>
                <li><a href="#">FAQ</a></li>
            </ol>
            <div class="close-menu"></div>
        </nav>
        
        <div class="toggle">
            <div class="bars" id="bar1"></div>
            <div class="bars" id="bar2"></div>
            <div class="bars" id="bar3"></div>
        </div>
        <div class="overlay"></div>
        
        <div class="osso-burst">
            <img src="{% static 'global/src/icons/osso-burst.png' %}" class="osso-icon">
        </div>
    </div>
</header>
<script src="{% static 'global/js/links-responsive.js' %}"></script>