{% load static %}
<header>
    <div class="container">
        <div class="logos">
            <img src="{% static 'global/src/icons/logo1.png' %}" alt="Logo 1">
            <img src="{% static 'global/src/icons/logo2.png' %}" alt="Logo 2">
        </div>

        <nav class="links">
            <ol class="links-ancoras">
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Animais</a></li>
                <li><a href="#">Adote</a></li>
                <li><a href="#">Como ajudar?</a></li>
                <li><a href="#">FAQ</a></li>
            </ol>
        </nav>
        
        <div class="osso-burst">
            <img src="{% static "global/src/icons/osso-burst.png" %}" class="osso-icon">
        </div>
    </div>
</header>