{% extends "base.html" %}
{% load static %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static 'global/css/adotar.css' %}">
{% endblock css_extras %}

{% block content %}
    <div class="main-adotar">
        <div class="container-first">
            <div class="conteudo">
                <h2>Formulário de adoção</h2>
                <p>Preecha o formulário e ajude a transformar vidas!</p>
                <a href="https://forms.gle/dn2ra7ouQSVLPbJm8" target="_blank">Formulário para a adoção de cães</a>
                <a href="https://forms.gle/UEFFWvtGh7zmH7fZA" target="_blank">Formulário para a adoção de gatos</a>
                <p>Dê a eles uma segunda chance e ganhe um companheiro cheio de amor! ❤️</p>
            </div>
        </div>
        <div class="container-square">
            <div class="square">
                <div class="textsquare">
                    <h1>Está faltando alguém na família?</h1>
                    <p>Veja quem pode ser seu novo membro da família...</p>
                    <div class="container-button">
                        <a href="{% url 'app:animais' %}" class="main-btn">Clique Aqui</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}