{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="header">
        <div class="header-content">
            <div class="spacer"></div>
            <div class="header-text">
                <h1>Apadrinhar</h1>
                <p>Com um gesto simples, você transforma vidas.</p>
            </div>
        </div>
    </div>
    <div class="content">
        <h2><img src="{% static 'global/src/icons/pata.png' %}" alt="Pata" class="icon-pata">Apadrinhamento</h2>
        <p>
            O programa de apadrinhamento da Casa do Cão e Gato é um programa de criação de laços afetivos entre padrinho ou madrinha e seu afilhado. 
            O programa funciona da seguinte forma: o interessado em apadrinhar ou amadrinhar escolhe um animalzinho para ser seu afilhado e também escolhe se irá doar ou não mensalmente.
        </p>
        <p>
            Sendo necessário o possível, o padrinho ou madrinha irá arcar com quaisquer despesas extraordinárias. Caso não seja possível, a abrigo busca arrecada. 
            A quantia doada será usada para arcar com gastos referentes à alimentação, medicação e quaisquer outras necessidades do afilhado.
        </p>
        <p>
            Não existe valor pré-definido para participação do programa de apadrinhamento, de modo que o valor pode ser alterado no decorrer dos meses sem qualquer obstáculo. 
            Caso o padrinho ou a madrinha não optar por contribuir diretamente com produtos necessários ao uso do seu afilhado, poderá contribuir financeiramente, se preferir.
        </p>
        <p>
            A ideia do apadrinhamento é simbólica; o que importa não é o valor da doação, mas o carinho e amor dedicado ao afilhado. 
            Apadrinhando, você se torna responsável pelo bem-estar do animal escolhido e passa a visitá-lo sempre que quiser. 
            Esse laço de afeto é o principal ponto e mais sensível do programa.
        </p>
        <p>
            O padrinho ou madrinha tem preferência na adoção, bem como nas visitas mensais ao abrigo.
        </p>
        <p>
            O importante é saber que a Casa do Cão e Gato se compromete a enviar atualizações (fotos e vídeos) do afilhado sempre que possível. 
            Rastreadas ou não, esse contato é muito mais do que uma responsabilidade institucional — ele representa um elo muito maior.
        </p>
        <p>
            Dito isso, basta escolher seu afilhado ou afilhada e entrar em contato com a Casa do Cão e Gato clicando <a href="https://www.instagram.com/casadocaoegato/">AQUI</a>.
        </p>
    </div>
{% endblock content %}