{% extends "base.html" %}
{% load static %}
{% block css_extras %}
    <link rel="stylesheet" href="{% static 'global/css/home.css' %}">
{% endblock css_extras %}

{% block content %}
    <section class="section_inicio_home">
        <div class="container_informacoes">
            <div class="elementos_informacoes accg">
                <img src="{% static 'global/src/images/image_ACCG.png' %}">
                <h1>ACCG</h1>
                <p>Quem somos nós</p>
            </div>
            <div class="elementos_informacoes animais">
                <img src="{% static 'global/src/images/animais_section.png' %}">
                <h1>ANIMAIS</h1>
                <p>Cães e gatos</p>
            </div>
            <div class="elementos_informacoes adotar">
                <img src="{% static 'global/src/images/pet_section.png' %}">
                <h1>QUERO ADOTAR</h1>
                <p>Escolha o seu pet</p>
            </div>
        </div>
    </section>

    <section class="adote_coracao_section">
        <div class="left_container_coracao">
            <div class="left_interno_coracao">
                <h2 class="h2_coracao">Adote com o Coração</h2>
                <h1 class="h1_coracao">Adote!</h1>
                <p class="p_coracao">Você pode fazer a diferença participando do programa de adoção da ONG. Eles precisam de carinho, atenção e cuidado. E você pode ser a razão de muitos rabinhos balançando de alegria. Participe. Eles contam com a gente.</p>
                <div class="containerBtn"><button class="botao_coracao">Adotar</button></div>
            </div>
        </div>
        <div class="right_container_coracao">
            
        </div>
    </section>
    <section class="perguntas_frequentes">
        <!-- <div class="patinha"></div>
        <div class="patinha"></div>
        <div class="patinha"></div>
        <div class="patinha"></div> -->
        <h1 class="title_faq">Perguntas frequentes</h1>
        <div class="faq">
            <div class="question">
                <h3>Quero adotar, como faço?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="resposta">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nesciunt autem saepe, animi distinctio deleniti similique! Doloribus dolorum, hic illo, pariatur, optio facere necessitatibus perferendis quae reprehenderit accusantium similique dolores.
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>Quero adotar, como faço?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="resposta">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nesciunt autem saepe, animi distinctio deleniti similique! Doloribus dolorum, hic illo, pariatur, optio facere necessitatibus perferendis quae reprehenderit accusantium similique dolores.
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>Quero adotar, como faço?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="resposta">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nesciunt autem saepe, animi distinctio deleniti similique! Doloribus dolorum, hic illo, pariatur, optio facere necessitatibus perferendis quae reprehenderit accusantium similique dolores.
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>Quero adotar, como faço?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="resposta">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nesciunt autem saepe, animi distinctio deleniti similique! Doloribus dolorum, hic illo, pariatur, optio facere necessitatibus perferendis quae reprehenderit accusantium similique dolores.
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>Quero adotar, como faço?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="resposta">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nesciunt autem saepe, animi distinctio deleniti similique! Doloribus dolorum, hic illo, pariatur, optio facere necessitatibus perferendis quae reprehenderit accusantium similique dolores.
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>Quero adotar, como faço?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="resposta">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nesciunt autem saepe, animi distinctio deleniti similique! Doloribus dolorum, hic illo, pariatur, optio facere necessitatibus perferendis quae reprehenderit accusantium similique dolores.
                </p>
            </div>
        </div>
    </section>
    <script src="{% static 'global/js/faq.js' %}"></script>
{% endblock content %}