{% extends "base.html" %}
{% load static %}
{% block css_extras %}
    <link rel="stylesheet" href="{% static 'global/css/home.css' %}">
{% endblock css_extras %}

{% block content %}
    <section class="section_inicio_home">
        <div class="container_informacoes">
            <a class="elementos_informacoes accg" href="{% url "app:sobre" %}">
                <img src="{% static 'global/src/images/image_ACCG.png' %}">
                <h1>ACCG</h1>
                <p>Quem somos nós</p>
            </a>
            <a class="elementos_informacoes animais" href="{% url "app:animais" %}">
                <img src="{% static 'global/src/images/animais_section.png' %}">
                <h1>ANIMAIS</h1>
                <p>Cães e gatos</p>
            </a>
            <a class="elementos_informacoes adotar" href="{% url "app:animais" %}">
                <img src="{% static 'global/src/images/pet_section.png' %}">
                <h1>QUERO ADOTAR</h1>
                <p>Escolha o seu pet</p>
            </a>
        </div>
    </section>

    <section class="adote_coracao_section">
        <div class="left_container_coracao">
            <div class="left_interno_coracao">
                <h2 class="h2_coracao">Adote com o Coração</h2>
                <h1 class="h1_coracao">Adote!</h1>
                <p class="p_coracao">Você pode fazer a diferença participando do programa de adoção da ONG. Eles precisam de carinho, atenção e cuidado. E você pode ser a razão de muitos rabinhos balançando de alegria. Participe. Eles contam com a gente.</p>
                <div class="containerBtn"><a class="botao_coracao" href="{% url "app:animais" %}">Adotar</a></div>
            </div>
        </div>
        <div class="right_container_coracao">
            
        </div>
    </section>
    <section class="perguntas_frequentes" id="faq_scroll">
        <!-- <div class="patinha"></div>
        <div class="patinha"></div>
        <div class="patinha"></div>
        <div class="patinha"></div> -->
        <h1 class="title_faq">Perguntas frequentes</h1>
        <div class="faq">
            <div class="question">
                <h3> Quero ajudar o abrigo, como faço?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="resposta">
                <p>Você pode nos ajudar com doações, financeiras, através de uma das nossas chaves-pix (<strong>casadocaoegato2024@gmail.com</strong> ou <strong>01956641/0001-87</strong>) ou com a doação de itens pet em getal (ração seca ou úmida, medicamentos, areia higiênica etc). Os itens podem ser deixados em um dos nossos pontos de coleta, basta indicar que é uma doação para nós.
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>Quero adotar um animal, como funciona?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="resposta">
                <p>Para adotar com a gente, é necessário preencher nosso <a href="{% url "app:animais" %}#scroll-adotar">formulário de adoção.</a> Caso ele seja aprovado, a voluntária responsável entra em contato pelo <a href="https://chat.whatsapp.com/G8e1qzRUS5r8GQrEuHSf7Z" target="_blank">WhatsApp</a> para conhecer melhor o/a adotante e, se tudo correr bem, para combinar a entrega do animal escolhido.
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>Preciso de ajuda, vocês fazem resgates?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="resposta">
                <p>Infelizmente não estamos em condições, atualmente, de acolher novos animais; recebemos diversos pedidos de ajuda todos os dias e não temos como ajudar a todos. No momento, podemos ajudar na divulgação dos casos através do nosso Instagram. Todos podem ajudar um animal em necessidade, então, se for possível, não deixe de ajudar, você mesmo pode fazer a diferença na vida de um animal!
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>Onde vocês estão localizados?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="resposta">
                <p>O abrigo fica no Morro do Castro, uma comunidade entre os municípios de São Gonçalo e Niterói, no estado do Rio de Janeiro. Nossa localização exata não é divulgada para evitar novos abandonos.
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>Quero visitar o abrigo, é possível?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="resposta">
                <p>Infelizmente, visitas ao abrigo não são uma realidade, já que ficamos em um lugar menos acessível, por ficarmos em uma comunidade, e também não temos transporte próprio, o que dificulta a visitação. Além disso, como todo o nosso trabalho é voluntário, não há muita disponibilidade das voluntárias para acompanhar visitantes.
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>Quero ser voluntário(a), como funciona?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="resposta">
                <p>Nossos voluntários atuam principalmente nos eventos presenciais de que participamos, como feiras de adoção. O cuidado direto dos animais é responsabilidade dos funcionários do abrigo, uma vez que é um trabalho diário e que o abrigo fica em uma área de acesso restrito, por isso, não seria possível o voluntário acessar com facilidade. Caso você queira ajudar, você pode entrar no nosso grupo no Whatsapp, lá você fica sabendo, em primeira mão, dos nossos eventos, necessidades e muito mais. O link para acesso é: <a href="https://chat.whatsapp.com/G8e1qzRUS5r8GQrEuHSf7Z">WhatsApp</a>
                </p>
            </div>
        </div>
    </section>
    <script src="{% static 'global/js/faq.js' %}"></script>
{% endblock content %}