{% extends "base.html" %}
{% load static %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static 'global/css/sobre.css' %}">   
{% endblock css_extras %}

{% block content %}
  <div class="timeline">
  <div class="timeline-event">
    <div class="timeline-content left">
      <h3>Fevereiro 2024</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt.</p>
    </div>
    <div class="timeline-image right">
      <img src="{% static 'img/evento1.jpg' %}" alt="Evento 1">
    </div>
  </div>

  <div class="timeline-event">
    <div class="timeline-image left">
      <img src="{% static 'img/evento2.jpg' %}" alt="Evento 2">
    </div>
    <div class="timeline-content right">
      <h3>Abril 2024</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt.</p>
    </div>
  </div>

  
</div>
{% endblock content %}