{% extends "base.html" %}
{% load static %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static 'global/css/unique_animal.css' %}">
{% endblock css_extras %}

{% block content %}
    <main class="main">
        <div class="card-container">
            <div class="card-header">
                {% if animal.tipo == 'cachorro' %}
                    <img src="{% static 'global/src/icons/doginfoicon.png' %}" alt="" class="tipo-icon">
                {% else %}
                    <img src="{% static 'global/src/icons/catinfoicon.png' %}" alt="" class="tipo-icon">
                {% endif %}
                <img src="{% static 'global/src/icons/infoicon.png' %}" alt="" class="info-icon">
            </div>
            <div class="card-main">
                <div class="left-column">
                    <div class="main-image-wrapper">
                        <img id="active-image" src="{{ fotos.0.imagem.url }}" alt="Imagem principal do animal" class="main-image">
                    </div>
                    <div class="thumbnail-container">
                        {% for foto in fotos %}
                            <img
                                src="{{ foto.imagem.url }}"
                                alt="Miniatura"
                                class="thumbnail {% if forloop.first %}active-thumbnail{% endif %}"
                                onclick="setActiveImage(this)">
                        {% endfor %}
                    </div>
                </div>
                <div class="linha"></div>
                <div class="right-column">
                    <h1 class="card-animal-name">{{ animal.nome }}</h1>
                    <div class="card-animal-infos">
                        <div class="card-info-wrapper sexo">
                            <h4 class="card-animal-info-title">sexo</h4>
                            {% if animal.sexo == 'macho' %}
                                <img src="{% static 'global/src/icons/male-50.png' %}" alt=""   class="card-info-icons">
                            {% else %}
                                <img src="{% static 'global/src/icons/female-50.png' %}" alt=""   class="card-info-icons">
                            {% endif %}
                        </div>
                        <div class="card-info-wrapper tipo">
                            <h4 class="card-animal-info-title">tipo</h4>
                            {% if animal.tipo == 'cachorro' %}
                                <img src="{% static 'global/src/icons/tipocachorro.png' %}" alt="" class="card-info-icons">
                            {% else %}
                                <img src="{% static 'global/src/icons/tipogato.png' %}" alt="" class="card-info-icons">
                            {% endif %}
                        </div>
                        <div class="card-info-wrapper porte">
                            <h4 class="card-animal-info-title">porte</h4>
                            {% if animal.porte == 'pequeno' %}
                                {% if animal.tipo == 'cachorro' %}
                                    <img src="{% static 'global/src/icons/dog-portepequeno.png' %}" alt="" class="card-info-icons porte-icon">
                                {% else %}
                                    <img src="{% static 'global/src/icons/cat-portepequeno.png' %}" alt="" class="card-info-icons porte-icon">
                                {% endif %}
                            {% elif animal.porte == 'medio' %}
                                {% if animal.tipo == 'cachorro' %}
                                    <img src="{% static 'global/src/icons/dog-portemedio.png' %}" alt="" class="card-info-icons porte-icon">
                                {% else %}
                                    <img src="{% static 'global/src/icons/cat-portemedio.png' %}" alt="" class="card-info-icons porte-icon">
                                {% endif %}
                            {% else %}
                                {% if animal.tipo == 'cachorro' %}
                                    <img src="{% static 'global/src/icons/dog-portegrande.png' %}" alt="" class="card-info-icons porte-icon">
                                {% else %}
                                    <img src="{% static 'global/src/icons/cat-portegrande.png' %}" alt="" class="card-info-icons porte-icon">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="card-info-wrapper idade">
                            <h4 class="card-animal-info-title">idade</h4>
                            <p class="card-info-idade" id="idade-formatada">{{ animal.idade }}</p>
                        </div>
                    </div>
                    <div class="card-animal-desc-wrapper">
                        <h4 class="card-animal-info-title">sobre mim</h4>
                        <p class="card-animal-desc">{{ animal.descricao }}</p>
                    </div>
                    <div class="card-testes-main">
                        <h4 class="card-animal-info-title">testes</h4>
                        {% if testes %}
                            <div class="card-testes">
                                {% for teste in testes %}
                                    <p class="card-animal-testes">
                                        <span class="doenca">{{ teste.nome_teste }}</span>
                                        <span class="resultado">{{ teste.resultado }}</span>
                                    </p>
                                {% endfor %}
                            </div>
                            {% else %}
                            <p class="card-animal-testes">
                                Nenhum teste realizado
                            </p>
                            {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script src="{% static 'global/js/unique-animal-image.js' %}"></script>
    <script src="{% static 'global/js/format-idade-card.js' %}"></script>
{% endblock content %}
