{% extends "base.html" %}
{% load static %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static 'global/css/unique_animal.css' %}">
{% endblock css_extras %}

{% block content %}
    <main class="main">
        <div class="animal-card">
            <div class="left-column">
                <img id="active-image" src="{{ fotos.0.imagem.url }}" alt="Imagem principal do animal" class="main-image">
                <div class="thumbnail-container">
                    {% for foto in fotos %}
                        <img 
                            src="{{ foto.imagem.url }}" 
                            alt="Miniatura" 
                            class="thumbnail {% if forloop.first %}active-thumbnail{% endif %}" 
                            onclick="setActiveImage(this)">
                    {% endfor %}
                </div>
            </div>
            <div class="right-column">
                <h2>{{ animal.nome }}</h2>
                <div class="animal-sexo">
                    {% if animal.sexo == 'macho' %}
                        <p><img src="{% static 'global/src/icons/male.png' %}" class="sexo-icon"> {{ animal.get_sexo_display }}</p>
                    {% else %}
                        <p><img src="{% static 'global/src/icons/female.png' %}" class="sexo-icon"> {{ animal.get_sexo_display }}</p>
                    {% endif %}
                </div>
                <p>{{ animal.get_tipo_display }}</p>
                <p>Porte {{ animal.get_porte_display|lower }}</p>
                <p>{{ animal.idade }}</p>
                <p>{{ animal.descricao }}</p>
            </div>
        </div>
    </main>

    <script src="{% static "global/js/unique-animal-image.js" %}"></script>
{% endblock content %}
